<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Jordi Magaña en construcció</title>
		<meta name="description" content="Disseny, web, Comunicació" />
		<meta name="keywords" content="Disseny, web, Comunicació" />
		<meta name="author" content="Jordi Magaña"/>
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Hind:400,500,300' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body data-ng-app="contactApp">
		
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="content-loader">
			<ul class="loader">
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<!--Container-->
		<div class="pad-zero">
			
			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">
				
				<!--Intro-->
				<div class="intro">
					<!--Right Content Intro-->
					<div class="side side-right">
						<!--Right Nav-->
						<div class="call-to-action contact">
							<div>
								<span class="goto-next">
								<!-- 	more info -->
									<span class="add-sep"></span>
								</span>
							</div>	
						</div>
						<!--/Right Nav-->
						
						<div class="main-content sec-pad">
							<!--Logo-->
							<header class="logo">
								<img src="img/logo-light.png" alt="logo">
							</header>
							<!--/Logo-->
							
							<div class="table-wrap">
								<div class="tablecell align-middle">
									
									<!--main content-->
									<section class="intro-text">
										<!--Ticker-->
										<div class="tlt">
											<ul  class="texts">
												<li data-in-effect="bounce" data-out-effect="hinge" data-in-shuffle="true" data-out-shuffle="true">
													Nous canvis 
												</li>
												<li  data-in-effect="bounce" data-out-effect="hinge" data-in-shuffle="true" data-out-shuffle="true">
													Sigues pacient
												</li>
												<li  data-in-effect="bounce" data-out-effect="hinge" data-in-shuffle="true" data-out-shuffle="true">
													Tornem aviat
												</li>
											</ul>
										</div>
										<!--/Ticker-->
										
										<p class="col-md-9 col-xs-12 pad-zero">Nous temps, nous canvis. Després de 15 anys com a HIPO hem canviat, ara ens trobareu com a "Jordi Magaña. Disseny i Comunicació" i estem treballant en un nou web. Aprofitem també per convidar-te a visitar-nos a les nostres noves oficines a l'Avda. Barcelona, 30 a Igualada. T'esperem. </p>
										<div class="clearfix"></div>
										
										<!--Notify Sec-->
										<section class="notify-cmpt notify-form-type-2 margin-top-xs-20">
											<div class="notify-wrap ">
												<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
													<div class="input-wrap">
														<input  data-ng-model="notify" class="col-lg-10   form-control input notify-input-box" name="email" placeholder="Email"  type="email">
														<button type="submit"  class="btn btn-default progress-button btn-submit">Avisa'm
															<span class="mask"></span>
														</button>
													</div>	
												</form>
											</div>
										</section>	
										<!--/Notify Sec-->
																	
										<div class="clearfix"></div>
										
									</section>
									<!--/main content-->
								</div>
							</div>
								
							<div class="container-fluid pad-zero social-wrpper">
															
								<!--Footer-->
								<footer class="copyright-text">
									
									<!--Social Icons-->
									<ul class="social-icons animated">
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
											</a>
										</li>
									</ul>
									<!--/Social Icons-->
									
									<p>Visita'ns a Avda. Barcelona, 30. 08700 IGUALADA. Barcelona<p>
									<span>o truca'ns al </span>
										<a href="callto:+34930005723" target="_blank">+34 93 000 57 23</a>
									
									
								</footer>
								<!--/Footer-->
								
							</div>	
							
						</div>
						
						<!--left overlay-->
						<div class="side-right-overlay"></div>
						<!--/left overlay-->
						
					</div>
					<!--/Right Content Intro-->
					
					<!--Left Content Intro-->
					<div class="side side-left">
						<div class="main-content sec-pad">
							<div class="table-wrap">
								<div class="tablecell align-middle">
									<section class="timer-sec">
										<!--Clock wrap-->
										<div class="clock-wrap">
											<svg 
												 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="81px" height="81px"
												 viewBox="0 0 81 81" enable-background="new 0 0 81 81" xml:space="preserve">
											<switch>
												<g>
													<circle fill="none" stroke="#000" stroke-miterlimit="10" cx="40.5" cy="40.5" r="40"/>
													<circle fill="#000" cx="40.5" cy="40.5" r="2.806"/>
													<line id="min" fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10" x1="40.5" y1="10.5" x2="40.5" y2="40.5"/>
													<line id="hour" fill="none" stroke="#000" stroke-width="1.5" stroke-miterlimit="10" x1="40.5" y1="20.5" x2="40.5" y2="40.5"/>
													<line id="sec" fill="none" stroke="#000" stroke-miterlimit="10" x1="40.5" y1="7.5" x2="40.5" y2="40.5"/>
												</g>
											</switch>
											</svg>
										</div>
										<!--/Clock wrap-->
									</section>
									<!--main content-->
									<section class="intro-text">
										<div class="ani-wrap">
											<!--Counter-->
											<div id="countdown" class="animated">
												<h5>
													<span class="days-wrap">
													   <span class="days">30</span>
													   <span>dies</span>
													</span>
													<span> i comencem</span>
												</h5>	
											</div>
											<!--Counter-->
										</div>
										<h2>Millorem per donar solucions creatives</h2>	
										<div class="clearfix"></div>
									</section>
									<!--/main content-->
								</div>
							</div>
						</div>
					</div>
					<!--/Left Content Intro-->
				</div>
				<!--/Intro-->
				
				<!--Right Section-->
				<div class="page page-right">
					<div  class="page-inner full-height">
						<div class="close-btn">
							<span>X</span>
						</div>
						<!~~About Sec~~>
						<!-- 
<section class="container-fluid align-center text-left animated sec-pad-top about-sec">
							<div class="row">
								<div class="col-lg-12">
									<h3>About Us</h3>
									<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
									<div class="about-icon-wrap padding-top-sm">
										<div class="row">
											<div class="col-sm-4  col-xs-12  margin-btm-xs">
												<span class="icon icon-puzzle"></span>
												<span class="key-fact">
													Strategy 
												</span>
												<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											</div>
											<div class="col-sm-4  col-xs-12 margin-btm-xs">
												<span class="icon icon-layers"></span>
												<span class="key-fact">
													Implementation
												</span>
												<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											</div>
											<div class="col-sm-4  col-xs-12 margin-btm-xs margin-bottom-0">
												<span class="icon icon-presentation"></span>
												<span class="key-fact">
													Coaching
												</span>
												<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											</div>
										</div>	
									</div>	
								</div>	
							</div>
						</section>
 -->

						<!--/About Sec-->
					
						<!--Projects Sec-->
						<!-- 
<section class="container-fluid align-center text-left animated sec-pad-top">
							<div class="row">
								<div class="col-lg-12">
									<h3>Our Projects</h3>
									<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
									
								</div>	
							</div>
							<div class="project-gal-wrap padding-top-sm">
								 <div class="project-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
									<figure class="col-sm-6 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									  <a href="img/project1.jpg" itemprop="contentUrl" data-size="730x490">
										  <img class="img-responsive" src="img/project1.jpg" itemprop="thumbnail" alt="Image description" />
										  <div class="hover"><span>+</span></div>
									  </a>
										<figcaption itemprop="caption description">Title One	</figcaption>

									</figure>
									<figure class="col-sm-6 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									  <a href="img/project2.jpg" itemprop="contentUrl" data-size="730x490">
										  <img class="img-responsive" src="img/project2.jpg" itemprop="thumbnail" alt="Image description" />
										  <div class="hover"><span>+</span></div>
									  </a>
										<figcaption itemprop="caption description">Title Two</figcaption>
									</figure>
									<figure class="col-sm-6 margin-btm-xs" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									  <a href="img/project3.jpg" itemprop="contentUrl" data-size="730x490">
										  <img class="img-responsive" src="img/project3.jpg" itemprop="thumbnail" alt="Image description" />
										  <div class="hover"><span>+</span></div>
									  </a>
										<figcaption itemprop="caption description">Title Three</figcaption>
									</figure>
									<figure class="col-sm-6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
									  <a href="img/project4.jpg" itemprop="contentUrl" data-size="730x490">
										  <img class="img-responsive" src="img/project4.jpg" itemprop="thumbnail" alt="Image description" />
										  <div class="hover"><span>+</span></div>
									  </a>
										<figcaption itemprop="caption description">Title Four
										</figcaption>
									</figure>
								</div>
							</div>
						</section>
 -->
						<!--/Projects Sec-->
						
						<!--Team Sec-->
						<!-- 
<section class="container-fluid align-center text-left animated sec-pad-top team-sec">
							<div class="row">
								<div class="col-lg-12">
									<h3>Our Wonderful Team</h3>
									<div class="row">
										<div class="col-sm-4  col-xs-12 margin-btm-xs">
											<img class="img-responsive" src="img/team1.jpg" alt="team"/>
											<span class="team-per">john doe</span>
											<span class="team-desn">executive</span>
											<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											<ul class="team-social">
												<li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div>
										<div class="col-sm-4  col-xs-12 margin-btm-xs">
											<img class="img-responsive" src="img/team2.jpg" alt="team"/>
											<span class="team-per">max tailor</span>
											<span class="team-desn">director</span>
											<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											<ul class="team-social">
												<li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div>
										<div class="col-sm-4  col-xs-12 margin-btm-xs margin-bottom-0">
											<img class="img-responsive" src="img/team3.jpg" alt="team"/>
											<span class="team-per">amanda grey</span>
											<span class="team-desn">creative head</span>
											<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem consequat ipsum.</p>
											<ul class="team-social">
												<li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
												<li><a href="" target="_blank"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div>
									</div>
								</div>	
							</div>
						</section>
 -->
						<!--/Team Sec-->
						
						<!--Client Sec-->
						<!-- 
<section class="client-sec container-fluid align-center text-left animated sec-pad-top">
							<div class="row">
								<div class="col-lg-12">
									<h3>Our Clients</h3>
									<div class="row">
										<div class="col-sm-3 col-xs-6">
											<img class="img-responsive" src="img/client1.png" alt="client"/>
										</div>
										<div class="col-sm-3 col-xs-6">
											<img class="img-responsive" src="img/client2.png" alt="client"/>
										</div>
										<div class="col-sm-3 col-xs-6">
											<img class="img-responsive" src="img/client3.png" alt="client"/>
										</div>
										<div class="col-sm-3 col-xs-6">
											<img class="img-responsive" src="img/client4.png" alt="client"/>
										</div>
									</div>
								</div>
							</div>	
						</section>
 -->
						<!--/Client Sec-->
						
						<!--form sec-->
						<!-- 
<section data-ng-controller="ContactController" class="container-fluid align-center animated  sec-pad">
							<h3>Hey <span  data-ng-bind="formData.inputName||'There'">There</span>, happy to hear from you.</h3>
							<div>
								<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
									<div class="form-group input~~hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
										<div class="input-wrap">
											<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field~~hoshi" id="inputName" name="inputName" placeholder="Name" required>
											<label class="input__label input__label input__label~~hoshi input__label~~hoshi-color-1 input__label~~hoshi input__label~~hoshi-color-1" ></label>
										</div>	
									</div>
									<div class="form-group  input~~hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
										<div class="input-wrap">
											<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field~~hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
											<label class="input__label input__label~~hoshi input__label~~hoshi-color-1"></label>
										</div>	
									</div>
									<div class="form-group  input~~hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
										<div class="input-wrap">
											<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field~~hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
											<label class="input__label input__label~~hoshi input__label~~hoshi-color-1"></label>
										</div>	
									</div>
									<div class="form-group col-sm-12">
										<div class="align-center">
											<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
											<span class="mask"></span>
											enviar
											</button>
										</div>
									</div>
								</form>
								<p data-ng-class="result">{{ resultMessage }}</p>
							</div>
							<div class="row">
								<div class="address-detail">
									<div class="col-sm-4 margin-btm-xs">
										<div class="sep-wrap">
											<span class="add-sep"></span>
										</div>	
										<span>visita'ns</span>
										<p>Avda Barcelona, 30. 08700 Igualada. Barcelona</p>
									</div>	
									<div class="col-sm-4 margin-btm-xs">
										<div class="sep-wrap">
											<span class="add-sep"></span>
										</div>	
										<span>reach</span>
										<a href="mailto:info@jordimagaña.com" target="_blank">info@jordimagaña.com</a>
									</div>
									
									<div class="col-sm-4 margin-btm-xs">
										<div class="sep-wrap">
											<span class="add-sep"></span>
										</div>	
										<span>call</span>
										<a href="callto:954788315970" target="_blank">+34 93 000 57 23</a>
									</div>
								
								</div>
							</div>	
						</section>	
 -->
						<!--/form sec-->
						
						<!--google map-->
						<section class="map-sec">
							<div id="map_canvas"></div>
						</section>
						<!--/google map-->
						
					</div>
				</div>
				<!--/Right Section-->
				
			</div>
			<!-- /Splitlayout -->
		
		</div>
		<!-- /Container -->
		
		<!--PhotoSwipe Popup-->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">

				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button--share" title="Share"></button>

						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
							  <div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							  </div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div> 
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
					</button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
					</button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				  </div>

			</div>
		</div>
		<!--/PhotoSwipe Popup-->
			
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/photoswipe.min.js"></script>
		<script src="js/photoswipe-ui-default.min.js"></script>
		<script src="js/jquery.lettering.js"></script>
		<script src="js/jquery.textillate.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj0zjXakWFdbRHaflakMAOJKJvgA_5a1c"></script>
		<script src="js/init.js"></script>
		
	</body>
</html>
