/* Bari - Portfolio HTML Template */

@media only screen and (max-width: 6000px){
	
	.page-wrapper{
		overflow:hidden;	
	}
	
}


@media only screen and (min-width: 1800px){
	
	.portfolio-section-two{
		padding-left:25px;
		padding-right:25px;
	}
	
}

@media only screen and (max-width: 1300px){
	
	.main-header.mobile-visible{
		position:relative;
		top:0px;
		opacity:1;
		visibility:visible;
		z-index:9999;	
	}
	
	
	.light-version.hidden-bar{
		display:none;	
	}
	
	.portfolio-section-two{
		padding-left:0px;
		padding-right:0px;
	}
	
}

@media only screen and (max-width: 1140px){
	
	.main-header .info-box{
		display:inline-block;
		float:none;
		text-align:left;
	}
	
	.main-header .header-lower .search-box-outer,
	.main-menu .navigation > li > a:after,
	.main-menu .navigation > li:after,
	.main-menu .navigation > li > a:before,
	.main-menu .navigation > li > a:after,
	.main-banner-section .left-curve{
		display:none;
	}
	
	.page-wrapper{
		padding:0px;
	}
	
	.main-menu .navigation > li.dropdown > a:after{
		display:none;
	}
	
	.main-menu{
		padding-top:0px;
	}
	
	.main-header .header-upper{
		padding:0px 15px;
	}
	
	.sec-title:before,
	.main-slider .circle-one,
	.main-slider .circle-two,
	.main-slider .circle-three{
		display:none;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:45px;
	}
	
	.main-banner-section .inner-container .side-image{
		max-width:350px;
		bottom:-160px;
	}
	
	.about-block .inner-box{
		padding-right:0px;
	}
	
	.main-banner-section .inner-container{
		padding:180px 0px;
	}
	
	.about-section{
		margin-top:0px;
	}
	
	.main-banner-section,
	.gallery-section-three{
		padding-bottom:80px;
	}
	
	.services-section,
	.portfolio-section,
	.portfolio-section-two{
		padding-top:80px;
	}
	
	.sec-title,
	.contact-section .form-column .inner-column,
	.sidebar-page-container .sidebar-side .sidebar{
		padding-left:0px;
	}
	
	.portfolio-section-two .filters li{
		margin:0px 12px;
	}
	
	.team-section{
		padding-top:40px;
	}
	
	.services-block-two .inner-box,
	.testimonial-section{
		padding:0px;
	}
	
	.blog-section{
		padding-bottom:80px;
		padding-top:70px;
	}
	
	.blog-section .blogs-column .inner-column{
		padding-left:0px;
	}
	
	.main-slider .content-image{
		display:none;
	}
	
	.testimonial-section.style-two{
		padding:100px 0px;
	}
	
	.team-section-two,
	.about-section.style-two,
	.gallery-single-section{
		padding-bottom:90px;
	}
	
	.blog-section.style-two,
	.team-section-two{
		padding-top:80px;
	}
	
	.footer-style-two .widgets-section .location{
		font-size:13px;
	}
	
	.footer-style-two .widgets-section .social-icon-two{
		margin-right:0px;
	}
	
	.about-section .big-image,
	.footer-style-two .widgets-section{
		padding-left:15px;
		padding-right:15px;
	}
	
	.about-section .big-image{
		margin-bottom:80px;
	}
	
	.services-section.style-two{
		padding:140px 0px 60px;
	}
	
	.about-section .video-column .inner-column{
		padding-top:0px;
	}
	
	.fluid-section-one .content-column .inner-column{
		padding-left:20px;
	}
	
	.portfolio-section-two .gallery-item.medium-column{
		width:33.333%;
	}
	
	.portfolio-section-two .gallery-item.large-column{
		width:33.333%;
	}
	
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.page-title h2 .icon-sixteen,
	.page-title .icon-seventeen,
	.page-title h2 .blue-circle,
	.page-title .icon-ten,
	.page-title h2 .blue-triangle-two,
	.page-title .lined-pink,
	.page-title h2 .icon-fourten,
	.page-title .icon-fifteen,
	.page-title .icon-thirteen,
	.page-title h2 .icon-twelve,
	.page-title .icon-eleven,
	.page-title h2 .lightblue-circle,
	.page-title .icon-ten,
	.page-title h2 .yellow-circle,
	.page-title h2 .blue-triangle-two,
	.page-title h2 .pink-circle,
	.page-title .icon-eight,
	.page-title h2 .gradiant-circle,
	.error-section h1 .left-icon,
	.error-section h1 .right-icon,
	.error-section h1 .right-icon,
	.page-title h2 .blue-triangle,
	.page-title .icon-seven,
	.main-banner-section .icon-four,
	.main-banner-section .top-icon,
	.main-banner-section .inner-container .icon-eleven,
	.main-banner-section .inner-container .icon-two,
	.main-banner-section .inner-container .circle-one{
		display:none;	
	}
	
	.page-title h2 .white-color{
		color:inherit;	
	}
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-right{
		position:relative;
		width:100%;
		padding-top:0px;
	}

	.main-menu .navigation > li a{
		background:none;
	}
	
	.main-slider h2{
		font-size:80px;
	}
	
	.main-slider .text{
		font-size:16px;
	}
	
	.main-slider .dark-heading,
	.main-slider h1{
		font-size:50px;
	}
	
	.sticky-header,
	.testimonial-section .owl-nav{
		display:none;
	}
	
	.main-header .info-box{
		padding-left:40px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:63px;
	}
	
	.fluid-section-one .content-column,
	.fluid-section-one .image-column{
		position:relative;
		width:100%;
	}
	
	.fluid-section-one .image-column{
		background-image:none !important;
	}
	
	.header-four-alternate .outer-box .nav-btn {
		color: #ffffff;
	}
	
	.fluid-section-one .image-column .image-box{
		display:block;
	}
	
	.team-block.empty-block{
		display:none;
	}
	
	.fluid-section-one .content-column .inner-column{
		padding:60px 15px 60px 15px;
		max-width:100%;
	}
	
	.main-banner-section h2{
		font-size:80px;
	}
	
	.sec-title{
		padding-left:0px;
	}
	
	.main-footer{
		padding:100px 0px 100px;
	}
	
	.team-section-two .sec-title{
		margin-bottom:40px;
	}
	
	.header-style-two .main-menu{
		width:100%;
		text-align:center;
	}
	
	.header-style-two .main-box .upper-right{
		display:block;
	}
	
	.header-style-two .main-menu .navigation > li{
		float:none;
		display:inline-block;
	}
	
	.header-style-two.fixed-header .main-menu .navigation > li > a{
		padding:0px 0px 15px;
	}
	
	.main-slider h1,
	.main-slider h1 span{
		font-size:100px;
	}
	
	.footer-style-two .widgets-section,
	.footer-style-two .widgets-section .location,
	.footer-style-two .widgets-section .social-icon-two{
		text-align:center;
	}
	
	.page-title{
		padding:180px 0px 120px;
	}
	
	.page-title h2{
		font-size:60px;
	}
	
	.page-title h2 span.white-color{
		color:#414857 !important;
	}
	
	.mission-section{
		padding-top:60px;
	}
	
	.gallery-single-section .info-column{
		margin-bottom:40px;
	}
	
	.error-section{
		padding:200px 0px;
	}
	
	.portfolio-section-two .gallery-item.medium-column{
		width:33.333%;
	}
	
	.portfolio-section-two .gallery-item.large-column{
		width:33.333%;
	}
	
	.portfolio-section-two .sec-title .pull-right{
		width:100%;
	}
	
	.portfolio-section-two .filters li{
		margin-left:0px;
		margin-right:15px;
	}
	
	.portfolio-section-two .filters{
		margin-top:25px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.main-slider h4{
		font-size:56px;
	}
	
	.main-header .outer-box{
		margin-top:32px;
	}
	
	.main-header.header-style-two .outer-box{
		margin-top:60px;
	}
	
	.main-header .header-spacing{
		height:90px;	
	}
	
	.header-style-four .nav-outer,
	.main-header .main-box .upper-right{
		width:100%;	
	}
	
	.header-style-two .main-menu{
		display:block;	
	}
	
	.main-header .nav-outer{
		padding-right:0px;
		border-right:0px;
		border-left:0px;
		margin-top:-90px;
	}
	
	.header-style-three .nav-outer,
	.header-style-five .nav-outer{
		width:100%;
	}
	
	.header-style-four .nav-outer{
		margin-top:-85px;
	}
	
	.header-style-three .upper-right{
		width:100%;
		float:left;
	}
	
	.header-style-three .upper-right .nav-outer,
	.header-style-five .upper-right .nav-outer{
		margin-top:-72px;
	}
	
	.main-header .btn-outer{
		border: 0 none;
		right: auto;
		text-align: left;
		top: 0;
		width: auto;
		z-index: 14;
	}
	
	.main-header .header-lower .search-box-outer .dropdown-menu{
		right:auto;
		left:0px;	
	}
	
	.main-header .btn-outer .quote-btn{
		margin-top:8px;	
	}
	
	.header-main-box .nav-outer .search-box-btn{
		top:15px;
		right:60px;
		margin-top:0px;
		z-index:20;
	}
	
	.main-header .header-top .top-right ul,
	.main-header .header-top .top-left ul {
		text-align: center;
	}
	
	.main-header .header-top .top-right ul li,
	.main-header .header-top .top-left ul li {
		display: inline-block;
		float: none;
	}
	
	.main-header .header-top .social-icon-four li{
		margin-right:-3px;
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.main-header .header-upper .upper-column.info-box {
		display: block;
		width:100%;
		text-align:center;
		padding:0px;
		max-width:none;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		display:block;
		top:0px;
		text-align:center;
		margin:0 auto 12px;	
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
	   	max-height:320px;
		overflow:auto;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:15px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #202020;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:3px;
		background:#202020;
	}
	
	.header-style-three .main-menu .navbar-header .navbar-toggle{
		border-color:#ffffff;
		background-color:#ffffff;
	}
	
	.header-style-three .main-menu .navbar-header .navbar-toggle .icon-bar{
		background-color:#202020;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#202020;
		border:1px solid #ffffff;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		padding:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#202020;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		box-shadow:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-bottom:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:last-child{
		border-bottom:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		font-size:14px;
		font-weight:400;
		background:#202020;
		text-align:left;
		min-height:0px;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#202020;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#202020;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.main-header .info-box:after,
	.main-slider .social-icon-one{
		display:none !important;	
	}
	
	.main-slider{
		margin-top:0px !important;	
	}
	
	.main-slider.slider-one{
		padding-top:30px;
	}
	
	.main-header .top-right .links-nav li{
		margin-left:5px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		top:40px;
		left:0px;
		right:0px;
	}
	
	.main-header .outer-box .nav-btn{
		margin-left:10px;
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		height:60px;
	}
	
	.main-header .search-form .form-group input[type="submit"],
	.main-header .search-form button{
		line-height:60px;	
	}
	
	.main-header .btn-box .donate-btn{
		padding:12px 35px 12px 38px;
	}
	
	.main-header .btn-box{
		display:block;
		margin-top:7px;
	}
	
	.header-top .top-left,
	.header-top .top-right{
		width:100%;
		text-align:center;
	}
	
	.main-slider h2{
		font-size:70px;
	}
	
	.main-header .search-box-btn{
		margin-top:0px;
		padding-left:0px;
		border:none;
	}
	
	.main-header .info-box:last-child{
		top:0px;
	}
	
	.gallery-single-section h2,
	.main-slider h2.style-two{
		font-size:30px;
	}
	
	.sec-title h2{
		font-size:28px;
	}
	
	.page-title h2{
		font-size:52px;
	}
	
	.main-slider .content-image.content-image-2,
	.main-slider .content-image.image-one{
		display:none;
	}
	
	.header-style-two .outer-box,
	.header-style-three .outer-box{
		top:75px;
	}
	
	.main-banner-section h2{
		font-size:60px;
	}
	
	.main-banner-section .inner-container .side-image,
	.main-slider .content-image.image-three{
		display:none;
	}
	
	.main-banner-section .inner-container{
		padding:80px 0px;
	}
	
	.about-block .inner-box{
		text-align:center;
	}
	
	.about-block:before{
		left:50%;
		margin-left:-25px;
	}
	
	.portfolio-section .filters li{
		margin:0px 15px;
	}
	
	.testimonial-block .inner-box .text{
		font-size:16px;
	}
	
	.main-footer .widgets-section .copyright{
		margin:20px 0px;
	}
	
	.blog-section{
		padding-top:80px;
	}
	
	.about-section .text{
		font-size:16px;
	}
	
	.portfolio-section-two .gallery-item.medium-column,
	.portfolio-section-two .gallery-item.large-column{
		width:100%;
	}
	
	.main-header{
		position:relative;
		background-color:#ffffff;
	}
	
	.main-header .logo-outer,
	.main-header.header-style-two .logo-outer{
		padding:25px 0px 25px;
		float:left;
	}
	
	.about-section h2{
		font-size:36px;
	}
	
	.main-header.alternate .outer-box{
		display:none;
	}
	
	.main-header.alternate .nav-outer{
		margin-top:-75px;
		width:100%;
	}
	
	.main-slider.slider-two{
		padding-top:30px;
	}
	
	.header-style-two .main-box .outer-container{
		text-align:left;
	}
	
	.main-header.header-style-two .nav-outer{
		margin-top:-75px;
		z-index:25;
	}
	
	.header-style-three .outer-box,
	.header-style-five .outer-box{
		display:none;
	}
	
	.header-style-three{
		background-color:#333333;
	}
	
	.main-header.header-style-four .outer-box{
		margin-top:30px;
	}
	
	.header-style-four.fixed-header .outer-box{
		margin-top:34px;
	}
	
	.header-four-alternate.fixed-header .outer-box{
		margin-top:30px;
	}
	
	.clients-section .column{
		border:0px;
	}
	
	.services-section-two h2{
		font-size:30px;
	}
	
	.gallery-section-three .filters li{
		margin-right:20px;
	}
	
	.gallery-item .inner-box .image .overlay-box .plus{
		font-size:60px;
	}
	
	.gallery-single-section .info-column .inner-column{
		padding-left:0px;
		border-left:0px;
	}
	
	.news-single .inner-box .lower-content h2,
	.news-block-two .inner-box .lower-content h2{
		font-size:24px;
	}
	
	.news-block-two .inner-box .lower-content .read-more{
		position:relative;
		margin-top:10px;
		display:inline-block;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb,
	.author-box .author-comment .inner-box .image{
		position:relative;
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;
	}
	
	.sidebar-page-container .comments-area .comment,
	.author-box .author-comment .inner-box{
		padding-left:0px;
	}
	
	.error-section h1{
		font-size:150px;
	}
	
	.error-section h2{
		font-size:40px;
	}
	
	.header-four-alternate{
		position:absolute;
		background:none;
	}
	
	.header-four-alternate .outer-box .nav-btn{
		color:#ffffff;
	}
	
	.header-four-alternate.fixed-header .main-box{
		background-color:#333333;
	}
	
	.fullscreen-menu .full-menu .navigation > li > a{
		font-size:20px;	
	}
	
	.fullscreen-menu .full-menu .navigation > li > ul > li > a{
		font-size:16px;	
	}
	
	.about-block{
		margin-bottom:60px;	
	}
	
	.about-block:last-child{
		margin-bottom:0px;	
	}
	
	.page-title{
		padding:80px 0px 120px;
	}
	
	.services-section-two{
		padding-top:50px;
	}
	
	.page-title .lined-pink{
		display:none;	
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-header .social-links-one{
		top:0px;
	}

	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.main-header .header-upper .upper-right{
		padding:0px 0px;	
	}
	
	.main-header .search-form .form-group input[type="text"],
	.main-header .search-form .form-group input[type="tel"],
	.main-header .search-form .form-group input[type="email"],
	.main-header .search-form .form-group textarea{
		width:230px;
	}
	
	.main-slider h3,
	.page-title h2{
		font-size:40px;
	}
	
	.sec-title h2{
		font-size:24px;
	}
	
	.main-banner-section h2{
		font-size:40px;
	}
	
	.main-banner-section .text{
		font-size:14px;
		padding:0px 15px;
	}
	
	.gallery-item .inner-box .image .overlay-box .plus{
		font-size:40px;
	}
	
	.gallery-single-section .content-column{
		margin-bottom:40px;
	}
	
	.news-single .inner-box .lower-content .text blockquote{
		padding-left:0px;
	}
	
	.news-single .inner-box .lower-content .text blockquote .quote-icon{
		position:relative;
		top:0px;
		margin-bottom:10px;
	}
	
	.social-icon-four li{
		margin-left:10px;
	}
	
	.error-section{
		padding:150px 0px;
	}
	
	.about-section h2{
		font-size:30px;
	}
	
	.fluid-section-one .content-column .inner-column h2{
		font-size:32px;	
	}
	
	.social-icon-three li a{
		font-size:16px;
		width:30px;
		height:30px;
		line-height:30px;	
	}
	
	.gallery-single-section .info-column .inner-column .portfolio-info-list li span{
		font-size:16px;	
	}
	
}

@media only screen and (max-width: 479px) {
	
	.main-header .header-upper .upper-column.info-box{
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.page-title h2,
	.main-banner-section h2{
		font-size:30px;
	}
	
	.services-section-two h2{
		font-size:24px;	
	}
	
	.main-slider .text br,
	.main-banner-section .text br{
		display:none;
	}
	
	.main-slider h2{
		font-size:40px;
	}
	
	.main-slider .text{
		font-size:14px;
	}
	
	.main-slider h1,
	.main-slider h1 span{
		font-size:80px;
	}
	
}